#signup_page {
    display: none;
}

#list_of_fairs_page {
    display: none;
}

#fair_info_page {
    display: none;
}

#employee_profile_page {
    display: none;
}

#editing_profile {
    display: none;
}

#queue_page {
    display: none;
}

#student_profile_page {
    display: none;
}

#fairs_history_page {
    display: none;
}

#student_history_page {
    display: none;
}

#student_history_profile_page {
    display: none;
}